<tr>
  <td align="center">
    <p class="text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Vestibulum luctus at velit quis mattis.
      Ut nec lorem neque. Suspendisse sed dolor ac nisl mollis cursus eu sit amet orci.
      In id est tincidunt, elementum lorem eget, suscipit ipsum.
      Integer pretium mauris nulla, eu molestie libero vestibulum at.
      In justo lorem, aliquet quis tellus vulputate, eleifend mollis nibh.
      Aenean sollicitudin, odio sed consectetur aliquam, augue nisl dictum dui,
      sit amet molestie velit tellus vulputate libero.
      In eget volutpat augue, in sagittis nibh.
    </p>
  </td>
</tr>
