<tr>
  <td>
    <table class="container">
      <%= render "layouts/header" %>
      <%= render "layouts/body" %>
    </table>
  </td>
</tr>
<tr>
  <td class="footer">
    <%= render "layouts/footer" %>
  </td>
</tr>
